html, body {
    width: 100%;
    margin: 0px;
    padding: 0px;
    overflow-x: hidden; 
}

html {
    height: 100%;
}

body {
    font-family: 'Courgette', cursive;
    /* font-family: 'Open Sans Condensed', sans-serif; */
    min-height: 100%;
}

footer {
    background-image: linear-gradient(to bottom, aquamarine 0%, turquoise 100%);
    width: 100%;
    overflow: hidden;
}
 nav {
    background-image: linear-gradient(to bottom, aquamarine 0%, turquoise 100%);
    overflow: hidden;
 }

nav ul li, footer ul li {
    display: inline-block;
    padding-right: 10px;
    padding-left: 10px;
    vertical-align: middle;
    /* font-size: 18px; */

}

footer ul {
    padding-top: 50px;
    width: 24%;
    margin-left:auto;
    margin-right: auto;
}

nav ul {
    padding: 0;
    font-size: 18px;
}

.logo {
    padding-right: 25%;
}

.logo a img {
    height: 50px;
}

.fill {
    display: block;
    height: 700px;
    width: 100%;
    margin: 0;
    padding: 0;
    position: relative;
}

footer h4, footer p {
    text-align: center;
}

#footertext {
    padding-top: 10px;
    padding-bottom: 5px;
}

#footertext p {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
}

.icon-link {
    height: 50px;
    width: 50px;
    transition: 0.5s;
}

.icon-link:hover {
    transform: scale(1.25);
}

#search {
    margin-right: auto;
    margin-left: auto;
    text-align: center;
    width: 80%;
    padding: 10px;
    box-shadow: 0 0 5px 2px rgba(0,0,0,.35);
    transform: translateY(-50px);
    background-image: linear-gradient(to bottom, aquamarine 0%, turquoise 100%);
}

#comfort {
    width: 30%;
}

input[type=text] {
    border: none;
    border-bottom: solid 1px black;
}

#slider-range {
    width: 20%;
    float: right;
    margin-right: 25%;
    margin-left: 0;
}

#amount {
    margin-right: 0;
}

h1 {
    text-align: center;
    white-space: nowrap;
    overflow: hidden;
    margin: 0 auto;
    animation: animated-text 10s linear 1;
    padding-top: 10px;
    padding-bottom: 10px;
}

@keyframes animated-text {
    0% {width: 0%}
    100% {width: 100%}
}

.small-content {
    text-align: center;
    width: 70%;
    margin-left: auto;
    margin-right: auto;
}

.small-content p {
    line-height: 2em;
}

.price-jump {
    text-align: center;
    animation: price-jump 5s linear infinite;

}

@keyframes price-jump {
    0% {transform: scale(1)}
    50% {transform: scale(1.5)}
    100% {transform: scale(1);}
}

.hidden-info {
    display: none;
}

a {
    text-decoration-line: none;
}

.collapsible-link {
    color: black;
}

.collapsible-link:hover {
    color: aquamarine;
}

h3 {
    text-align: center;
}

.more-images {
    text-align: center;
    width: 70%;
    margin: auto;
}

.thumbnail {
    width: 150px;
    height: 100px;
    border-radius: 5px;
}

#tabs {
    width: 70%;
    margin:auto;
    border-radius: 25px;
    font-family: 'Courgette', cursive;
}

#tabs .ui-tabs-nav {
    height: 2.35em; 
    text-align: center;
    border-radius: 25px;
}

#tabs .ui-tabs-nav li {
    display: inline-block; 
    float: none; 
    top: 0px; 
    margin: 0em; 
    padding-bottom: 0px;
    background-color: turquoise;
    text-decoration-color: black;
    border-radius: 5px;
}

.tabbed-image {
    width: 400px;
    margin-left: 60%;
    border-radius: 25px;
}

#description {
    text-align: center;
    margin: auto;
    padding: 2%;
    line-height: 2em;
}

.hidden-info table {
    margin-left: 15%;
}

table p {
    font-size: larger;
}

.favorites-toggle {
    margin-left: 25%;
    border-radius: 5px;
    font-family: 'Courgette', 'cursive';
    font-size: 16px;
    height: 50px;
    width: 175px;
}